<div>
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Weight History</h1>
    <button mat-flat-button class="!bg-green-500 !text-white" (click)="openDialog()">Add Record</button>
  </div>

  <div class="mb-8 p-4 bg-white rounded-lg shadow-md border border-gray-200">
    <div style="display: block; height: 300px;">
      <canvas baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'">
      </canvas>
    </div>
  </div>

  <div class="overflow-hidden rounded-lg shadow-md border border-gray-200">
    <table class="table table-striped w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="p-3 text-left">Id</th>
          <th class="p-3 text-left">Date</th>
          <th class="p-3 text-left">Weight (Kg)</th>
          <th class="p-3 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of weightHistoryList; track $index) {
          <tr class="border-t hover:bg-gray-50">
            <td class="p-3">{{ $index + 1 }}</td>
            <td class="p-3">{{ item.date | date: 'dd/MM/yyyy' }}</td>
            <td class="p-3 font-semibold">{{ item.weightKg }} kg</td>
            <td class="p-3 flex gap-2">
              <button mat-flat-button class="!bg-blue-500 !text-white" (click)="openDialog(item)">Edit</button>
              <button mat-flat-button class="!bg-red-500 !text-white" (click)="deleteWeightHistory(item.whId)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>