.form-container {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attachment-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.attachment-card {
  display: flex;
  gap: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  align-items: center;
}

.danger {
  background: #ff4444;
  color: white;
}
